celery==4.0.2
coverage==4.3.4
django-celery==3.2.1
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-extra-fields==0.9
django-nose==1.4.4
django-rest-framework-social-oauth2==1.0.5
django-rest-swagger==2.1.2
django==1.10.6
djangorestframework==3.6.2
psycopg2==2.7.1
pylint==1.6.5
radon==1.4.2
social-auth-app-django==1.1.0
social-auth-core==1.2.0
