{% extends "editor/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    {% if ev %}
        <li><a href="{% url 'edit_event' ev.pk %}">{{ ev.name }}</a></li>
    {% else %}
        <li><a href="{% url 'add_event' %}">{% trans "Add Event" %}</a></li>
    {% endif %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "vendors/ol/ol.css" %}" />
    <link rel="stylesheet" href="{% static "edit_event.css" %}" />
    <link href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css" rel="stylesheet">
{% endblock %}

{% block head %}
    {% if ev %}
        <h1>
            <a class="pull-right btn btn-primary" href="{% url 'event_challenges' ev.id %}">{% trans "Assign challenges" %}</a>
            {% trans "Edit:" %} {{ ev }}
        </h1>
    {% else %}
        <h1>{% trans "Create a new Event" %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}

        {% if ev and not data %}
            {% include "editor/forms/ev.html" with data=ev %}
        {% else %}
            {% include "editor/forms/ev.html" %}
        {% endif %}

        <h2>{% trans "Select the game" %}</h2>
        <hr/>
        <div class="games">
        {% for game in games %}
            {% if forloop.counter|divisibleby:"3" %}
                <div class="row">
            {% endif %}

            <div class="col-sm-4">
                <label class="row">
                    <input type="radio" name="ev_game" value="{{ game.id }}" class="col-sm-1"
                    {% if ev.game == game %}
                        checked="checked"
                    {% endif %}
                    />
                    <div class="col-sm-11">
                        {{ game.name }} /
                        <span class="text-primary">{{ game.challenges.all|length }} {% trans "challenges" %}</span>
                        <p class="text-muted text-small">{{ game.get_desc_html|safe|truncatewords:50 }}</p>
                    </div>
                </label>
            </div>

            {% if forloop.counter|divisibleby:"3" %}
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <button class="btn btn-block btn-primary">
            {% trans "Save and continue" %}
        </button>
        <hr/>
    </form>
{% endblock %}

{% block extrabody %}
    <script src="{% static "vendors/ol/ol.js" %}"></script>
    <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>

    <script>
        {% if ev.place %}
            var evplace = {{ ev.place.geojson|safe }};
        {% else %}
            var evplace = null;
        {% endif %}
    </script>

    <script src="{% static "edit_event.js" %}"></script>
{% endblock %}
