{% extends "editor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <h1>{% trans "Editor" %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h2>{% trans "Games" %}</h2>
            <div class="list-group">
              <a href="{% url 'add_game' %}" class="list-group-item active">
                {% trans "New game" %}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              {% for game in games %}
                <a href="{% url 'edit_game' game.pk %}" class="list-group-item">{{ game.name }}</a>
              {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <h2>{% trans "Events" %}</h2>
            <div class="list-group">
              <a href="{% url 'add_event' %}" class="list-group-item active">
                {% trans "New event" %}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
              {% for ev in events %}
                <a href="{% url 'edit_event' ev.pk %}" class="list-group-item">{{ ev.name }}</a>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
