{% extends "editor/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    {% if game %}
        <li><a href="{% url 'edit_game' game.pk %}">{{ game.name }}</a></li>
    {% else %}
        <li><a href="{% url 'add_game' %}">{% trans "Add Game" %}</a></li>
    {% endif %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "gameeditor.css" %}" />
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>

    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block head %}
    {% if game %}
        <h1>{% trans "Edit:" %} {{ game }}</h1>
    {% else %}
        <h1>{% trans "Create a new Game" %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content">
    </div>
{% endblock %}

{% block extrabody %}
    <script>
        window.gameid = null;
        {% if game %}
        window.gameid = {{ game.pk }};
        {% endif %}
    </script>

    <script src="{% static "vendors/tinymce/tinymce.min.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.1/cytoscape.min.js"></script>
    <script src="{% static "vendors.js" %}"></script>
    <script src="{% static "gameeditor.js" %}"></script>
{% endblock %}
