{% extends "editor/base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "vendors/ol/ol.css" %}" />
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>
    <link href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css" rel="stylesheet">
{% endblock %}

{% block head %}
    {% if game %}
        <h1>{% trans "Edit:" %} {{ game }}</h1>
    {% else %}
        <h1>{% trans "Create a new Game" %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}

        {% include "editor/forms/game.html" %}

        {% for challenge in game.challenges.all %}
        <div class="well">
        <fieldset>
            <legend>
                {{ challenge.name }}
                <form method="POST" action="">
                    <input type="hidden" name="challenge" value="{{ challenge.pk }}" />
                    <button name="rmchallenge" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </form>
            </legend>
            {% include "editor/forms/challenge.html" with n=forloop.counter0 %}
        </fieldset>
        </div>
        {% endfor %}

        <!-- one more to add -->
        <div id="challenge_{{ n }}" n="{{ n }}" class="orig_challenge well">
        <fieldset>
            <legend>
                {% trans "New challenge" %} (<span class="n">{{ n }}</span>)
                <button class="btn btn-danger rmchallenge hidden pull-right" n="{{ n }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </legend>
            {% include "editor/forms/challenge.html" with n=n %}
        </fieldset>
        </div>

        <div id="challenges">
        </div>

        <button id="addchallenge" class="btn btn-success">
            {% trans "Add challenge" %}
        </button>

        <hr/>

        <button class="btn btn-block btn-primary">
            {% trans "Save" %}
        </button>
    </form>

<!-- position modal -->
<div id="posModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Select position" %}</h4>
      </div>
      <div class="modal-body">
        <div id="map" class="map"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extrabody %}
    <script src="{% static "vendors/ol/ol.js" %}"></script>
    <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>
    <script src="{% static "edit_game.js" %}"></script>
{% endblock %}
