{% extends "editor/edit_event.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'event_challenges' ev.pk %}">{% trans "Challenges" %}</a></li>
{% endblock %}

{% block head %}
    <h1>
        <a class="pull-right btn btn-primary" href="{% url 'edit_event' ev.id %}">{% trans "Edit event" %}</a>
        {% trans "Challenges for:" %} {{ ev }}
    </h1>
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}

        <h2> {% trans "Actors / AI" %} </h2>
        <div class="challenges">
        {% for c in actors %}
            <div class="row">
                <div class="col-sm-5">
                    {{ c.name }}
                    <p class="text-muted">{{ c.desc }}</p>
                </div>

                <!-- TODO fill the values with the previous assignation if
                     exists -->
                <div class="col-sm-2 text-right">
                    <div class="form-group">
                        <select class="from-control ctype" data-id="{{ c.id }}" name="challenge_type_{{ c.id }}">
                            <option value="ai" {% if c.ptype == 'pos' %}selected{% endif %}>{% trans "AI" %}</option>
                            <option value="actor" {% if c.ptype and c.ptype != 'pos' %}selected{% endif %}>{% trans "Actor" %}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" id="ai_{{ c.id }}">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary mapbtn">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control pos"
                                   name="challenge_pos_{{ c.id }}"
                                   value="{{ c.pos }}"
                                   placeholder="{% trans 'AI position in format: Lat, Lon' %}"/>
                        </div>
                        <p class="help-block">{% trans "Position, only if it's an AI. For example: 37.3580539, -5.9866369" %}</p>
                    </div>
                    <div class="form-group" id="actor_{{ c.id }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </span>
                            <input type="text" class="form-control player"
                                   name="challenge_player_{{ c.id }}"
                                   value="{{ c.actor.user.username }}"
                                   placeholder="{% trans 'Player name' %}"/>
                        </div>
                       {% if c.actor %}
                            <p class="help-block">{% trans "Actor password:" %} {{ c.actor.extra }}</p>
                       {% endif %}
                        <p class="help-block">{% trans "Player name, to assign this challenge. If not exists, we'll create a new one" %}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">{% trans "No actor challenges in this game" %}</p>
        {% endfor %}
        </div>

        <hr/>

        <h2> {% trans "Players" %} </h2>
        <div class="challenges">
        {% for c in players %}
            <div>
                {{ c.name }}
                <p class="text-muted">{{ c.desc }}</p>
            </div>
        {% endfor %}
        </div>

        <button class="btn btn-block btn-primary">
            {% trans "Save and continue" %}
        </button>
        <hr/>
    </form>

<!-- position modal -->
<div id="posModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Select position" %}</h4>
      </div>
      <div class="modal-body">
        <div id="map" class="map"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extrabody %}
    <script src="{% static "vendors/ol/ol.js" %}"></script>
    <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>
    <script src="{% static "event_challenges.js" %}"></script>
{% endblock %}
