{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <h1>{% trans "Account confirmed" %}</h1>
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        {% blocktrans with p=player.user.email %}
        Conglatulations! The account {{p}} has been confirmed. Now you can login in
        socializa.
        {% endblocktrans %}
    </div>

{% endblock %}

{% block foot %}
<center>
    <a href="{{ base_url }}">
        <img src="{% static 'landing/img/logo.png' %}" alt="socializa"/>
        <br/>
        Socializa
    </a>
</center>
{% endblock %}
