.games label {
    width: 100%;
    border: 1px solid #bbb;
    padding: 5px;
    margin: 10px;
}

.map {
    height: 500px;
    width: 100%;
}

.game {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.game h3 {
    margin-top: 0px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

.over {
    border: 2px dashed #aaa;
}
