{% load i18n %}

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <input type="text" class="form-control name" name="challenge_name_{{ n }}"
                   placeholder="{% trans 'Challenge name' %}" value="{{ challenge.name }}"/>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <select id="type" class="type" name="challenge_type_{{ n }}">
                <option value="p" {% if challenge.ctype == 'p' %}selected{% endif %}>{% trans "Player" %}</option>
                <option value="np" {% if challenge.ctype == 'np' %}selected{% endif %}>{% trans "Position / Actor" %}</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <textarea class="form-control desc" name="challenge_desc_{{ n }}"
                   placeholder="{% trans 'Challenge description' %}">{{ challenge.desc }}</textarea>
            <p class="help-block">{% trans "You can use here html" %}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control depend" name="challenge_depends_on_{{ n }}"
                   placeholder="{% trans 'Challenge depends' %}" value="{{ challenge.depends_on }}"/>
            <p class="help-block">{% trans "Names separated by ','. To get this challenge the player should have all the challenges named here before" %}</p>
        </div>
    </div>
</div>
