{% load i18n %}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" name="game_name"
                   placeholder="{% trans 'Game name' %}" value="{{ data.name }}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="game_solution"
                   placeholder="{% trans 'Game solution' %}" value="{{ data.solution }}"/>
            <p class="help-block">{% trans "Write here the solution" %}</p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <textarea class="form-control" name="game_desc"
                   placeholder="{% trans 'Game description' %}">{{ data.desc }}</textarea>
            <p class="help-block">{% trans "You can use here html" %}</p>
        </div>
    </div>
</div>

