.clue,
.event {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    position: relative;
    cursor: pointer;
}

.event h2 {
    margin: 0px;
}

.event .price {
    background-color: #FFB562;
}

.event .price.free {
    background-color: #3C9142;
}

.eventname {
    padding-left: 10px;
}

.eventdesc {
    padding-top: 10px;
}

.dates, .start, .end {
    margin: 5px;
}

.event.joined {
    border-left: 5px solid @brand-primary;
}

.event.solved {
    border-left: 5px solid @brand-success;
}
