.clue,
.event {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px dashed #ccc;
    position: relative;
    cursor: pointer;
}

.event h2 {
    margin: 0px;
}

.event .price {
    background-color: #FFB562;
}

.event .price.free {
    background-color: #3C9142;
}

.eventname {
    padding-left: 10px;
}

.eventdesc {
    padding-top: 10px;
}

.dates, .start, .end {
    margin: 5px;
}

.event.joined {
    background-color: @brand-info;
}

#events {
    margin-bottom: 70px;
}
